<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Users</h1>
        <a href="/users/new" class="btn btn-primary btn-sm shadow-sm">
            Create New User
        </a>
    </div>
    <%= render "shared/validation" %>
    <%= render "table", collection: @users %>
</div>