<div class="container-fluid">
    <h1 class="h3 mb-4 text-gray-800">Create New User</h1>
    <%= render "shared/response" %>
    <% @var = @user%>
    <%= render "shared/validation", var: @var %>
    <div class="card shadow mb-4">
        <div class="card-body">
           <%= render "form", user: @user %>
        </div>
    </div>
</div>
<script>
    function togglePass(id) {
        var x = document.getElementById(id);
        x.type = (x.type === "password") ? "text" : "password";}
</script>