<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>



    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">





        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <div class="dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small"><%= current_user.full_name %></span>

                    <% if current_user.profile_photo.present? %>
                    <%= image_tag current_user.profile_photo , class:"img-profile rounded-circle" ,style:"width: 32px; height: 32px; object-fit: cover;" %>
                    <% else %>
                    <div class="img-profile rounded-circle bg-primary d-inline-flex align-items-center justify-content-center text-white" style="width: 32px; height: 32px; font-size: 14px; font-weight: bold;">
                        <%= current_user.full_name.split.map(&:first).join.upcase %>
                    </div>
                    <% end %>

                </a>

                <ul class="dropdown-menu">
                    <a class="dropdown-item" href="/profile">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        Profile
                    </a>

                    <div class="dropdown-divider"></div>
                    <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "dropdown-item text-danger" %>
                </ul>
            </div>
        </li>

    </ul>

</nav>
<!-- End of Topbar -->