<div class="container-fluid">
    <h1 class="h3 mb-4 text-gray-800">Edit Project</h1>
    <%= render "shared/response" %>
    <% @var = @project %>
    <%= render "shared/validation", var: @var %>
    <%= render "form", project: @project %>
</div>
<script>
    function togglePass(id) {
        var x = document.getElementById(id);
        x.type = (x.type === "password") ? "text" : "password";
    }
</script>