<div class="container-fluid">
    <h1 class="h3 mb-4 text-gray-800">Create New Project</h1>
    <%= render "shared/response" %>
    <% @var = @project %>
    <%= render "shared/validation", var: @var %>    
    <%= render "form", project: @project %>
</div>