<div class="container-fluid">
    <h1 class="h3 mb-4 text-gray-800">Create New Bug</h1>
    <%= render "shared/response" %>
    <% @var = @bug %>
    <%= render "shared/validation", var: @var %>
    <%= render "form", bug: @bug %>
</div>
